<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>SURVEILANS</title>

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='Surveilans/img/unjani.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='Surveilans/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='Surveilans/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <!--external css-->
  <link href="{{ url_for('static', filename='Surveilans/lib/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Surveilans/css/zabuto_calendar.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Surveilans/lib/gritter/css/jquery.gritter.css') }}" />
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='Surveilans/css/style.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='Surveilans/css/style-responsive.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='Surveilans/lib/chart-master/Chart.js') }}"></script>

  <!-- =======================================================
    Template Name: Surveilans
    Template URL: https://templatemag.com/Surveilans-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body>
  <section id="container">

    <!--***** TOP BAR CONTENT &NOTIFICATIONS ***** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="#" class="logo"><b>SURVEILANS</b></a>
      <!--logo end-->
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
      </div>
    </header>
    <!--header end-->

    <!-- *****  MAIN SIDEBAR MENU ***** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='Surveilans/img/unjani1.jpg') }}" class="img-circle" width="90"></a></p>
          <h5 class="centered">SURVEILANS</h5>
          <li class="mt">
            <a href="{{ url_for('grafikkelurahan') }}">
              <!-- <i class="fa fa-dashboard"></i> -->
              <span>DASHBOARD</span>
              </a>
          </li>
          <li class="sub-menu">
              <a href="{{ url_for('datajumantik') }}">
                <!-- <i class="fa fa-desktop"></i> -->
                <span>DATA JUMANTIK</span>
                </a>
            </li>
          <li class="sub-menu">
            <a href="{{ url_for('datasurveikelurahan') }}">
              <!-- <i class="fa fa-cogs"></i> -->
              <span>DATA SURVEI</span>
              </a>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
        <div class="row mt">
            <div class="col-lg-12">
              <h4><i class="fa fa-angle-right"></i> Masukkan Data Jumantik</h4>
              <div class="form-panel">
              <div class=" form">
                <form class="cmxform form-horizontal style-form" id="commentForm" method="post" action="{{ url_for('insert_data_jumantik') }}">
                <div class="form-group ">
                  <input type="hidden" name="id_user">
                  <label for="nama" class="control-label col-lg-2">Nama</label>
                  <div class="col-lg-10">
                  <input class="form-control " id="nama" type="text" name="nama" required />
                  </div>
                </div>
                <div class="form-group ">
                <label for="username" class="control-label col-lg-2">Username</label>
                  <div class="col-lg-10">
                  <input class="form-control " id="username" type="text" name="username" required />
                  </div>
                </div>
                <div class="form-group ">
                <label for="password" class="control-label col-lg-2">Password</label>
                  <div class="col-lg-10">
                  <input class="form-control " id="password" type="password" name="password" required />
                  </div>
                </div>
                <div class="form-group ">
                  <label for="id_level" class="control-label col-lg-2">Tipe Pengguna</label>
                  <div class="col-lg-10">
                  <select id="id_level" class="form-control" name="id_level" required>
                    <option value=""></option>
                    <option value="3">Jumantik</option>
                    </select>
                </div>
                </div>
                <div class="form-group ">
                  <label for="id_kabupaten" class="control-label col-lg-2">Kabupaten</label>
                  <div class="col-lg-10">
                    <select type="id_kabupaten" name="id_kabupaten" class="form-control" id="id_kabupaten" required>
                    <option value=""></option>
                    <option value="1">Pati</option>
                    <option value="2">Kudus</option>
                    <option value="3">Wonosobo</option>
                    <option value="4">Rembang</option>
                  </select>
                  </div>
                </div>
                <div class="form-group ">
                  <label for="id_kecamatan" class="control-label col-lg-2">Kecamatan</label>
                  <div class="col-lg-10">
                  <select type="id_kecamatan" name="id_kecamatan" class="form-control" id="id_kecamatan">
                    <option value=""></option>
                    <option value="1">Gembong</option>
                    <option value="2">Juwana</option>
                    <option value="3">Kayen</option>
                    <option value="4">Pati</option>
                    <option value="5">Margoyoso</option>
                    <option value="6">Margorejo</option>
                  </select>
                </div>
                </div>
                <div class="form-group ">
                  <label for="id_desa" class="control-label col-lg-2">Desa</label>
                  <div class="col-lg-10">
                  <select type="id_desa" name="id_desa" class="form-control" id="id_desa">
                    <option value=""></option>
                    <option value="1">Bageng</option>
                    <option value="2">Bermi</option>
                    <option value="3">Gembong</option>
                    <option value="4">Kedungbulus</option>
                    <option value="5">Ketanggan</option>
                    <option value="6">Klakah Kasihan</option>
                    <option value="7">Plukaran</option>
                    <option value="8">Pohgading</option>
                    <option value="9">Semirejo</option>
                    <option value="10">Sitiluhur</option>
                    <option value="11">Wonosekar</option>
                  </select>
                </div>
                </div>
                <div class="form-group ">
                  <label for="dusun" class="control-label col-lg-2">Alamat</label>
                  <div class="col-lg-10">
                  <input class="form-control " id="dusun" type="text" name="dusun" required />
                  </div>
                </div>
                <div class="form-group ">
                  <label for="no_telp" class="control-label col-lg-2">No Telp</label>
                  <div class="col-lg-10">
                  <input class="form-control " id="no_telp" type="text" name="no_telp" required />
                  </div>
                </div>
                <div class="form-group ">
                  <label for="tanggal_lahir" class="control-label col-lg-2">Tanggal Lahir</label>
                  <div class="col-lg-10">
                  <input class="form-control " id="tanggal_lahir" for="tanggal_lahir" type="date" name="tanggal_lahir" placeholder="" required />
                  </div>
                </div>
               <div class="form-group ">
                  <label for="jenis_kelamin" class="control-label col-lg-2">Jenis Kelamin</label>
                    <div class="col-lg-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="jenis_kelamin" id="jenis_kelamin" value="Laki-laki" checked> Laki-laki
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="jenis_kelamin" id="jenis_kelamin" value="Perempuan">
                      <label class="form-check-label" for="jenis_kelamin"> Perempuan
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group ">
                  <label for="uker" class="control-label col-lg-2">Unit Kerja</label>
                  <div class="col-lg-10">
                  <select type="uker" name="uker" class="form-control" id="uker">
                    <option value=""></option>
                    <option value="Bageng">Bageng</option>
                    <option value="Bermi">Bermi</option>
                    <option value="Gembong">Gembong</option>
                    <option value="Kedungbulus">Kedungbulus</option>
                    <option value="Ketanggan">Ketanggan</option>
                    <option value="Klakah Kasihan">Klakah Kasihan</option>
                    <option value="Plukaran">Plukaran</option>
                    <option value="Pohgading">Pohgading</option>
                    <option value="Semirejo">Semirejo</option>
                    <option value="Sitiluhur">Sitiluhur</option>
                    <option value="Wonosekar">Wonosekar</option>
                  </select>
                </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-offset-2 col-lg-10">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">Save</button>
                  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Data Disimpan</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">Data Berhasil Disimpan
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Oke</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              </div>
              <!-- /form-panel -->
            </div>
            <!-- /col-lg-12 -->
            </div>        
        </section>
    </section>
    <!--main content end-->
  </section>
  {% include "footer_script.html" %}
</body>
</html>